<?php
/**
 * @file
 * Contains \Drupal\example\Controller\ExampleController.
 */
namespace Drupal\{{ namespace }}\Controller;
use Drupal\Core\Controller\ControllerBase;

class {{controller_name}} {
	public function startAction() {
		return [
			'#markup' => '<h2>Welcome to the start page</h2>',
		];
	}
}
